<div class="body">
    <div class="about-section">
        <div class="inner-container">
            <h1>About me</h1>
            <p class="text">
                My name is Annie and I am a 20 years old software engineering student who currently live in Jönköping,
                Sweden with my family. In my sparetime I play floorball, drive motorcross and hang out with friends/
                family.
                I love learning new things and I study really hard to learn and achieve those things.
            </p>
            <div class="skills">
                <span>Floorball</span>
                <span>Motorcross</span>
                <span>Coding</span>
            </div>
        </div>
    </div>
</div>
