<h2>Upload new blogpost</h2>
<form method="get" action="/home" class="form-group" id="guest">
    <label class="form-label" for="input-example-1">Title</label>
    <input class="form-input" type="text" id="input-example-1" placeholder="Name">
    <label class="form-label" for="input-example-3">Message</label>
    <textarea class="form-input" id="input-example-3" placeholder="Textarea" rows="5"></textarea>
    <br>
</form>
<form method="get" action="/portfolio" class="form-group" id="guest">
    <a href="/home" class="btn btn-primary">Post</a><br><br>
    <h2>Upload picture</h2>
    <input type="file" class="form-input" id="myFile" name="filename"><br>
    <a href="/portfolio" class="btn btn-primary">Post</a>
</form>
