<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="dist/log.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log in form</title>
</head>
<body>
   <form method="get" action="/blogpost/home">
    <button class="btn-group"type="submit"><i class="fa fa-home"></i>Home</button>
  </form>
  <form method="post">
    <div class="login-box">
  {{#if errors.length}}
    <p>Couldn't login because:</p>
    <ul>
      {{#each errors}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  {{/if}}
      <h1>Login</h1>
      <div class="textbox">
      <i class="fa fa-user-circle"></i>
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <input type="text" placeholder="Username" name="username" value="">
      </div>
      <div class="textbox">
        <i class="fa fa-key"></i>
        <input type="password" placeholder="Password" name="password" value="">
      </div>
      <input class="btn" type="submit" name="" value="Log in">
  </div>
  </form>
</body>
</html>
