<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="app.js"></script>
  <link rel="stylesheet" href="/dist/layout.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <header class="navbar">
      <section class="navbar-section">
        <h2 class="titleh2">{{title}}</h2>
      </section>
      <section class="navbar-center">
      </section>
      <section class="navbar-section">
        {{#if isLoggedIn}}
        <a href="/home" class="btn btn-primary">Log out</a>
        {{/if}}
      </section>
    </header>
    <div>
      <ul class="nav">
        <li class="nav-item">
          <br>
          <h5>ANNIE JOHANSSON</h5>
        </li>
        <br>
        <li class="nav-item">
          <a href="/home">HOME</a><br>
        </li>
        <li class="nav-item">
          <a href="/portfolio">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a href="/contact">CONTACT</a>
        </li>
        <li class="nav-item">
          <a href="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a href="/guestbook">GUESTBOOK</a>
        </li>
        {{#if isLoggedIn}}
        <li class="nav-item">
          <a href="/admin">ADMIN</a>
        </li>
        {{/if}}
      </ul>
    </div>
    <main>
      {{{body}}}
    </main>
    <footer>
      <hr>
      <div>
        <p><a href="https://github.com/joan19gn" target="_blank">GitHub</a> · <a href="https://www.instagram.com/"
            target="_blank">Instagram</a> · <a href="https://www.facebook.com" target="_blank">Facebook</a> · <a
            href="https://www.gmail.com" target="_blank">Email</a> </p>
        <p>Designed and built with <span class="text-error">&star;</span> by Annie Johansson</a></p>
        <a href="/login" class="">Log in</a>
      </div>
    </footer>
  </div>
</body>

</html>
